<app-main-content-wrapper>
  <h1 class=" w-full text-center">
    About me
  </h1>
<div class="grid gap-8 sm:grid-cols-2">
  <div class="bg-base-100 rounded mb-8 rounded-xl auto-rows-auto grid grid-cols-1 gap-2 justify-center items-center p-2 text-center">
    <h2 class="m-0 h-max self-start">
      Contact Info
    </h2>
     <!--    ICONS -->
    <div class="prose text-center h-full w- col-start-1">

      <div class="w-full grid auto-cols-max justify-items-center text-start m-auto w-max gap-x-4">
        <!--        THIRD ICON-->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary col-start-1" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"/>
        </svg>
        <span class="">
          <a href="https://www.linkedin.com/in/ryan-field-649a1616b/" class="text-primary">Linkedin</a>
        </span>

        <!--        FOURTH ICON-->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary col-start-1" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"/>
        </svg>
        <span class="">
          <a href="https://github.com/ryaino" class="text-primary">GitHub</a>
        </span>
        <!--      FIRST ICON-->

        <svg xmlns="http://www.w3.org/2000/svg" class="col-start-1 h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
        </svg>
        <span class="w-max col-start-2">
          +64 27 779 6353
        </span>

        <!--        SECOND ICON -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary col-start-1" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
        </svg>
        <span class="grow">
            fieldryan19@gmail.com
        </span>


      </div>
    </div>
  </div>

  <div class="bg-base-100 sm:col-start-2 rounded mb-8 rounded-xl grid grid-cols-1 gap-2 justify-center max-w-max p-2 text-center">
    <h2 class="m-0">
      Hobbies
    </h2>
    <p>
      In my spare time I spend a lot of time teaching myself how to do things on the frontend. Ever since my final year
      of university I've had a strong interest in Angular. Over the years I've found I definitely favour heavily
      opinionated
      languages and frameworks.
    </p>
    <p>
      I also spend a lot of time listening to music and discovering new music to listen to. I'm really into physical
      media
      so I'm always looking for vinyl records of music I like, as well as physical copies of video games to add to my
      collection.
    </p>
  </div>
</div>
  <div class="bg-base-100 rounded mb-8 rounded-xl grid grid-cols-1 gap-2 justify-center max-w-max p-2 text-center">
    <h2 class="m-0">
      Want to hire me?
    </h2>
    <p>
      If you like what you've read about me and wish to get in contact about a job, here are some of my preferences and
      things to keep in mind.
      Just like if I was applying for a job I would need to reference aspects of the job posting, I ask that if you initiate
      contact, that you do so with references to as many of these points as possible.
    </p>
    <ul class="list-disc">
      <li>
        Intermediate Level - I have a lot of recruiters contacting me about junior or senior positions and then act
        surprised when I tell them I'm over / under qualified. If you have a position like this, but the experience level
        can be flexible to include intermediate, then be sure to mention that.
      </li>
      <li>
        Salary - Be up front with what I can expect given my current experience level. I will not disclose my current salary
        if asked.
      </li>
      <li>
        Age of the product - I personally found that I really like the experience of working on a young product. I like
        being involved in decision making early and and helping plan things out. It also helps to not have to work on
        someone else's 15 year old code.
      </li>
      <li>
        Who will be interviewing me - I have no interest in going through multiple interviews with HR reps before talking to someone
        technical. The sooner I can speak with whoever will be in charge of the advertised role, the better.
      </li>
      <li>
        Location - I currently HEAVILY favour remote work but I am willing to work in person depending on other factors,
        such as salary and location. I am open to relocating, including to Australia, for the right role.
      </li>
    </ul>
  </div>
</app-main-content-wrapper>
