<app-main-content-wrapper>
  <h1  class=" w-full text-center">
    Personal Projects
  </h1>

  <div class="bg-base-100 rounded mb-8 rounded-xl grid grid-cols-1 gap-2 justify-center max-w-max p-2 ">
    <p class="text-center">
      Here's a look at all of the projects found on my <a class="text-primary" href="https://github.com/ryaino">GitHub</a>.
      To help save myself from having to update this site every time I start a new project, all of the info here
      is obtained using the GitHub API so it should always be up to date. They are all sorted by most recently updated
      so you'll be able to see what I've been working on recently. The original-volunteer-hub and
      NZ-Record-Store-Search-Aggregator have much more detailed READMEs than the descriptions posted here, so I encourage
      you to go read those.
    </p>
  </div>

  <div class="divider"></div>

  <div class="grid justify-items-center gap-x-8 sm:grid-cols-2 ">
    <div *ngFor="let repo of repos" class="bg-base-100 border border-secondary text-center mb-8 rounded-xl grid grid-cols-1 gap-2 justify-center max-w-max p-2 ">
      <h2 class="m-0">
        {{repo.name}}
      </h2>
      <a href="{{repo.html_url}}" class="text-primary">Link</a>
      <p>
        {{repo.description}}
      </p>
      <div class="grid grid-flow-col grid-rows-1 gap-x-8 justify-between w-max justify-self-center">
        <img *ngFor="let topic of repo.topics" src="assets/{{getLogo(topic)}}" class="w-16">
      </div>
    </div>
  </div>

</app-main-content-wrapper>
