<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="grid bg-base-300 w-full grid-rows-1 mx-auto auto-cols-min sm:justify-center items-center">
      <div class="flex-none sm:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>

      <div class="hidden sm:flex items-center justify-between w-max">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          <li><label routerLink="" routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}"><a>Home</a></label></li>
          <li><label routerLink="work-history" routerLinkActive="active"><a>Work History</a></label></li>
          <li><label routerLink="personal-projects" routerLinkActive="active"><a>Personal Projects</a></label></li>
          <li><label routerLink="about-me" routerLinkActive="active"><a>About Me</a></label></li>
        </ul>
      </div>
    </div>
    <!-- Page content here -->
    <app-main-content-wrapper>
      <router-outlet></router-outlet>
    </app-main-content-wrapper>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
      <!-- Sidebar content here -->
      <li><label for="my-drawer-3" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a>Home</a></label>
      </li>
      <li><label for="my-drawer-3" routerLink="work-history" routerLinkActive="active"><a>Work History</a></label></li>
      <li><label for="my-drawer-3" routerLink="personal-projects" routerLinkActive="active"><a>Personal
        Projects</a></label></li>
      <li><label for="my-drawer-3" routerLink="about-me" routerLinkActive="active"><a>About Me</a></label></li>

    </ul>

  </div>
</div>
